<div class="container">
    
        <div class="row">
    
            <div class="col-lg-12">
                <h1 class="page-header">Recipes
                    <small>My favorite recipes</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="../index.html">Home</a>
                    </li>
                    <li class="active">Recipes</li>
                </ol>
            </div>
    
        </div>
    
        <div class="row">
    
            <div class="col-sm-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <strong>Breakfast</strong>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">Cinnamon Rolls</li>
                        <li class="list-group-item">Blueberry Muffins</li>
                        <li class="list-group-item">Brown Sugar Cinnamon Muffins</li>
                        <li class="list-group-item">Monkey Bread</li>
                        <li class="list-group-item">Biscuits and Sausage Gravy</li>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <strong>Appetizers</strong>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">Greenbean Casserole</li>
                        <li class="list-group-item">Smoked "Baked" Beans</li>
                        <li class="list-group-item">Ratatouille</li>
                        <li class="list-group-item">Kale Salad with a Lemon Vinaigrette</li>
                        <li class="list-group-item">Balsamic-Roasted Brussels Sprouts</li>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <strong>Entries</strong>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">Chicken Enchilladas</li>
                        <li class="list-group-item">Carne Asada Tacos</li>
                        <li class="list-group-item">Mongolian Beef</li>
                        <li class="list-group-item">Apricot Glazed Salmon</li>
                        <li class="list-group-item">Gorgonzola and Portobello Chicken Pasta</li>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <strong>Desserts</strong>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">Lemon Ricotta Cookies</li>
                        <li class="list-group-item">Blackberry Chocolate Chip Ice Cream</li>
                        <li class="list-group-item">Chocolate Cake</li>
                        <li class="list-group-item">New York Cheesecake with Oreo Crust and Raspberry Sauce</li>
                        <li class="list-group-item">Pumpkin Pie</li>
                        </li>
                    </ul>
                </div>
            </div>
    
        </div>
    
    </div>
    <!-- /.container -->